
HEADER {
    align-items: center;
    background-color: rgba(20, 20, 20, 1.0);
    color: #f1f1f1;
    display: grid;
    grid-template-columns:auto 1fr;
    padding: 0.2rem;
    position: fixed;
    top: 0;
    width: 100%;

    & NAV {
        & UL {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
            margin: 0;
            padding: 0;

            & LI {
            }
        }

    }

    & .avatar {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
    }
}

MAIN {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    align-content: center;
    justify-content: center;

    & .content-area {
        background-color: rgba(2, 2, 2, 0.4);
        padding: 1rem;
        width: min(90%, 800px);
    }
}