/* Styles for home page only */

.home-img {
    background-image: url("../img/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    position: relative;
    top: 0;
    width: calc(100vw - (100vw - 100%));
}

.home-slogan {
    font-size: 500%;
    left: 0;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 2px var(--color-bg-dark);
    top: calc(30vh);;
    width: calc(100vw - (100vw - 100%));
}

.hbText {
    padding-left: 10px;
}

.contacts .hbImage {
    background-image: url("../../../img/home/contacts.png");
}

.mission .hbImage {
    background-image: url("../../../img/home/mission.png");
}

/*.portfolio .hbImage {*/
/*    background-image: url("../../../img/home/portfolio.png");*/
/*}*/

.service .hbImage {
    background-image: url("../../../img/home/service.jpg");
}

.techStack .hbImage {
    background-image: url("../../../img/home/mission.jpg");
}

/* Blocks on homepage: text + image */

.container {
    display: grid;
    margin-top: var(--size-sm);
    grid-row-gap: var(--size-sm);
    grid-template-columns: 1fr;
    width: 100%;
}

.hBlock {
    display: grid;
}

.hbImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 601px) {
    .hBlock {
        grid-template-areas: "left right";
        grid-template-columns: 1fr 1fr;
    }

    .hBlock.direct .hbText {
        grid-area: left;
    }

    .hBlock.direct .hbImage {
        grid-area: right;
    }

    .hBlock.reverse .hbText {
        grid-area: right;
    }

    .hBlock.reverse .hbImage {
        grid-area: left;
    }
}

@media (max-width: 600px) {
    .hBlock {
        grid-gap: var(--size-md);
        grid-template-columns: 1fr;
    }

    .hBlock .hbImage {
        height: 20vh;
    }
}