---
import MainLayout from '../layouts/main.astro';
// import BaseHead from '../components/BaseHead.astro';
// import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
const pageTitle = "About Me";
---

<!--<head>-->
<!--    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>-->
<!--</head>-->

<MainLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <article>
        <h2>Personal Background</h2>

        <p>My name is Alex Gusev, and I am a web developer from Latvia, part of the European Union. My passion for
            programming began in high school when I first encountered the <a
                    href="https://en.wikipedia.org/wiki/Agat_(computer)">Agat</a> computer. This early interest inspired
            me to study at Riga Aviation University, where I graduated with a degree in systems engineering in 1996. In
            1998, I started my first job at "Paritate Bank", which marked the beginning of my career in IT.</p>

        <p>From the outset, I primarily focused on web applications. Early in my career, I served as a team lead for the
            development of "Paritate Online", one of the first online banking systems in Latvia, built on Lotus Domino.
            Later, I became the CTO at "Renesource Capital", a financial institution specializing in electronic money,
            where I continued to hone my skills and lead technological initiatives.</p>

        <p>In 2010, I founded my own company, "F. Lancer", and have been developing web applications under its name ever
            since. For about two years, I collaborated with "D8", where I participated in the development of banking
            systems. Following that, I spent nearly a decade working on e-commerce solutions using the Magento
            platform.</p>

        <p>Around five years ago, I discovered Vue Storefront, a Progressive Web Application (PWA) for Magento. That
            experience was transformative, as I realized that a single programming language—JavaScript—could be used to
            develop complete web applications. Since then, I have focused my work on JavaScript, specializing in
            developing modern, efficient web applications.</p>

        <h2>Professional Expertise</h2>

        <p>
            With over 25 years of programming experience, I have developed applications in various languages, including
            LotusScript, C/C++, Java, and PHP. Each of these has profoundly influenced my approach to software
            development. However, today, I specialize in one language—JavaScript.
        </p>

        <p>
            As a web developer, I am well-versed in essential web technologies such as HTML/XML, CSS, JSON, YAML, and
            Markdown. Additionally, I have extensive experience in deploying and administering Ubuntu-based servers,
            managing domains, configuring web and database servers, and writing shell scripts. In my projects, I
            actively utilize Continuous Integration and Continuous Deployment (CI/CD) pipelines, primarily leveraging
            GitHub Actions.
        </p>

        <p>Current Tech Stack:</p>
        <ul>
            <li>JavaScript (ES6+) with JSDoc</li>
            <li>Node.js, npm</li>
            <li>Vue.js, Quasar, i18next</li>
            <li>Knex.js (PostgreSQL, MariaDB/MySQL, SQLite)</li>
        </ul>

        <p>
            My focus is on Progressive Web Applications (PWAs) and Single Page Applications (SPAs), particularly in
            their browser-based (serverless) implementations. I am passionate about developing web applications as a
            compelling alternative to native mobile apps, though I am also experienced in building traditional websites
            using frameworks like Astro.
        </p>

        <p>
            I believe smartphones have been a transformative force in the web industry. Moreover, the growing
            functionality of messaging platforms like Telegram, Discord, and Slack—enhanced by bots and AI
            integration—has the potential to challenge traditional web applications, including PWAs.
        </p>

        <h2>Values and Approach</h2>

        <p>
            My work is grounded in the principles of modular monoliths, which are ideal for developing medium-sized web
            applications with distributed user data storage—especially relevant in the era of Web 3.0. Utilizing pure
            JavaScript simplifies debugging, maintenance, and integration with third-party libraries. I employ
            JavaScript (ES6+) in conjunction with JSDoc instead of TypeScript, enabling clear and readable code without
            the need for transpilation.
        </p>
        <p>
            Drawing on my experience with dependency injection and late binding from JavaEE and Magento, I ensure that
            the same code can be effectively used on both the frontend and backend, thereby enhancing modularity and
            reusability.
        </p>
        <p>
            These principles underpin my toolkit, Tequila Framework, which is built on Node.js and incorporates popular
            packages such as Commander and Knex.js. I seamlessly integrate my solutions with external services,
            including authentication systems, payment gateways, and large language models (LLMs).
        </p>
        <p>
            My platform supports the creation of not only web applications for traditional browsers and progressive web
            applications (PWAs) for smartphones but also bots for popular messaging platforms like Telegram, Discord,
            and Slack.
        </p>

        <h2>Personal Touch</h2>

        <p>
            My hobbies help me manage work and always stay at my best. First and foremost, I enjoy traveling. I love the
            mountains and the sea, as well as deserts and forests, especially coniferous ones. I appreciate hiking
            trails and day trips. I have gone rafting several times and hold a PADI Open Water Diver certificate.
            However, I prefer walking on land to swimming in water or diving underwater.
        </p>

        <p>
            I come from a fairly large family, and I love them all. Relationships with my relatives and close friends
            are very important to me. I advocate traditional values and am a liberal-conservative by nature.
            Nonetheless, I am open to change and consider personal and societal freedom to be a fundamental value of
            humanity.
        </p>

        <p>
            Everyone can be divided into those who prefer cats and those who favor dogs. I belong to the group that
            loves cats more. Our cat’s name is Firefox, but we affectionately call her Faiya. She is smart and playful,
            and she never fails to brighten our days with her cheerful personality.
        </p>

    </article>
</MainLayout>
