/**/*.sqlite
/**/*.sqlite-journal
/**/local.json
/**/node_modules/
/**/own_modules/
/**/package-lock.json
/**/tmp/
/**/ttttest.*
/.idea/
/astro3/
/atlassian-ide-plugin.xml
/cfg/local.*
/composer.lock
/package-lock.json
/tmp/
/var/*.pid
/var/store/**
/vp/.vitepress/cache/
/web/
/web2/
