{% extends "inc/layout.html" %}

{% block title %}Мониторинг логов при разработке web-приложений{% endblock %}
{% block description %}Каждое более-менее серьёзное приложение генерирует множество логов. Существуют различные сервисы для агрегирования, хранения и анализа логов ([ELK](https://www.elastic.co/what-is/e{% endblock %}

{% block content %}
<div class="card">
    <h1>Мониторинг логов при разработке web-приложений</h1>
    <span style="display: block; text-align: right;">
        <strong>Дата публикации:</strong> 2022-03-18
    </span>
    {% raw %}
<figure>
<img src="/medium/img/8cffdd920c29/image-01.png" alt="Image 2" />
</figure>
<p>Каждое более-менее серьёзное приложение генерирует множество логов. Существуют различные сервисы для агрегирования, хранения и анализа логов (<a href="https://www.elastic.co/what-is/elk-stack">ELK</a>, <a href="https://sentry.io/welcome/">Sentry</a>, <a href="https://cloud.google.com/logging">Google Cloud Logging</a>, <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/WhatIsCloudWatchLogs.html">Amazon CloudWatch Logs</a>, …), но они предназначены для приложений, работающих в production-режиме, и их не слишком-то удобно использовать именно в разработке приложений. В данной публикации я, как web-разработчик, описываю свои ожидания от агрегатора логов, предназначенного именно для разработчиков web-приложений.</p>
<h2 id="распределённость-web-приложения">Распределённость web-приложения</h2>
<p>Web-приложения, как правило, состоят из серверной и клиентской частей (бэк и фронт). Более того, серверная часть сама может быть неоднородной (микросервисы) или многократно дублированной (load balancing). Клиентские части по своему определению многочисленны (десктопы, смартфоны, планшеты).</p>
<p>Агрегатор должен позволять не только собирать логи из различных источников, являющихся частями одного web-приложения, но также и идентифицировать источники. У разработчика должна быть возможность выделить логи отдельного источника (например, только логи определённого экземпляра фронта).</p>
<h2 id="трассировка-бизнес-процессов">Трассировка бизнес-процессов</h2>
<p>Некоторые бизнес-процессы выполняются различными частями web-приложения. Например, в чате один фронт отправляет сообщение, бэк принимает его и пересылает получателю, фронт получателя сохраняет сообщение. В данном бизнес-процессе задействован функционал как фронта, так и бэка, плюс фронт отправителя и фронт получателя задействовал различный функционал.</p>
<p>Агрегатор должен позволять выделять логи, относящиеся к одному бизнес-процессу, даже если он выполнялся в различных частях web-приложения и на различных устройствах.</p>
<h2 id="привязка-к-коду">Привязка к коду</h2>
<p>Сообщение в логе должно иметь ссылку на код, который сгенерировал это сообщение. Как минимум на файл с исходным кодом. Зачастую для поиска места в коде, которое сгенерировало соответствующую запись в логе, используется обычный Ctrl + Shift + F (IDEA).</p>
<h2 id="скорость-обновления">Скорость обновления</h2>
<p>Для разработчика важно понимать, что именно происходит в приложении и каким образом его правки изменили работу приложения. Чем меньше время между внесением правок и получением обратной связи через логи, тем быстрее разработка. Агрегатор логов должен выдавать отобранные записи по мере их поступления, а задержка не должна превышать нескольких секунд.</p>
<h2 id="короткое-время-хранения">Короткое время хранения</h2>
<p>При разработке логи устаревают очень быстро. Можно сказать, они практически одноразовые: внесли изменения, запустили тестовый прогон, проанализировали логи — и новая итерация. По большому счёту нет смысла хранить логи больше, чем за один час (или какое-то количество последних записей, если с момента последнего запуска приложения прошло больше часа).</p>
<h2 id="уровни-логирования">Уровни логирования</h2>
<p>В программировании принято разделять логи по уровням (<a href="https://javapapers.com/log4j/log4j-levels/">log4j</a>):</p>
<ul>
<li>DEBUG</li>
<li>INFO</li>
<li>WARN</li>
<li>ERROR</li>
<li>FATAL</li>
</ul>
<p>Эти уровни созданы с учётом администрирования приложений. При нормальной работе приложений администратору достаточно получать информацию об ошибках (WARN, ERROR, FATAL), а вот если в приложении есть какие-то проблемы, то включают уровни INFO и DEBUG.</p>
<p>При разработке уровни логирования разделяются на две большие группы:</p>
<ul>
<li>INFO</li>
<li>ERROR</li>
</ul>
<p>Разработчика, как правило, интересуют все сообщения (на максимальном уровне), но ошибки должны привлекать большее внимание (отдельный маркер).</p>
<h2 id="резюме">Резюме</h2>
<p>Агрегатор логов для web-разработчика отличается по специфике решаемых задач от агрегатора логов, предназначенного для мониторинга и анализа состояния приложения. Основные задачи такого агрегатора:</p>
<ul>
<li>фильтрация поступающих логов в режиме реального времени согласно установкам разработчика;</li>
<li>привязка лог-записи к её источнику — экземпляру приложения (или его части) и исходному файлу;</li>
</ul>
<p>В качестве экспериментальной реализации подобного агрегатора для одного из своих проектов я создал PWA-приложение “<a href="https://github.com/flancer64/pwa_log_agg">flancer64/pwa_log_agg</a>”. Это сервер, который принимает через POST-запрос логи и ретранслирует их всем желающим через web-интерфейс с использованием Server Sent Events (SSE). Фильтрация логов происходит на клиентской стороне.</p>
<p>Агрегатор лишь демонстрирует идеи изложенные в данной статье (PoC) и не является самодостаточным приложением. Тем не менее, в случае возникновения интереса к подобному проекту, его можно выделить в отдельное приложение и доработать до нужного уровня.</p>

    {% endraw %}
</div>
{% endblock %}
