@import "./css/vars.css";
@import "./css/fonts.css";
@import "./css/home.css";
@import "./css/page.css";


HTML {
    background-color: var(--color-bg-dark);
    color: var(--color-set-lightest);
    font-family: appFontNormal, serif;
}

BODY {
    margin: 0;
    padding: 0;
}

H1 {
    font-size: 110%;
    padding-left: var(--size-md);
}

HEADER {
    font-size: 150%;
    font-weight: bold;
    left: 0;
    padding-bottom: var(--size-sm);
    padding-top: var(--size-sm);
    position: fixed;
    top: 0;
    width: calc(100vw - (100vw - 100%));
    z-index: 10;
}

HEADER .logo {
    cursor: pointer;
    float: left;
    padding-left: var(--size-md);
    text-shadow: 1px 1px 2px var(--color-bg-dark);
}

HEADER .menu {
    cursor: pointer;
    float: right;
    padding-right: 5%;
    text-shadow: 1px 1px 2px var(--color-bg-dark);
}

HEADER.hasBg {
    background-color: var(--color-bg-dark);
}

@media (max-width: 600px) {
    .home-slogan {
        top: 150px;
        text-align: center;
        font-size: 300%;
    }
}

@media (max-height: 400px) {
    .home-slogan {
        top: 100px;
        text-align: center;
        font-size: 300%;
    }
}