---
import {type CollectionEntry, getCollection} from 'astro:content';
import BlogPost from '../../layouts/main.astro';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map((post) => ({
        params: {slug: post.slug},
        props: post,
    }));
}
// type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const {Content} = await post.render();
const pageTitle = `Event - ${post.data.title}`;
debugger
---

<BlogPost pageTitle={pageTitle}>
    <h1></h1>
    <Content/>
</BlogPost>