{% extends "inc/layout.html" %}

{% block title %}Energy Efficiency of Intelligence{% endblock %}

{% block content %}
<div class="card">
    <h1>Energy Efficiency of Intelligence</h1>

    <span style="display: block; text-align: right;">
        <strong>Publication date:</strong> 2025-02-28
    </span>

    <zoom-img
            src="/img/brand/habr.webp"
            alt="Energy Efficiency of Intelligence"
            width="100px"
            style="float: left; margin: 15px 15px 0 0;"
    ></zoom-img>

    <p>A new article <strong><a href="https://habr.com/ru/articles/886718/" target="_blank">"Energy Efficiency of Intelligence"</a></strong> has been published on the Habr platform. In it, I explore the question of how human intelligence compares to AI in terms of energy consumption.</p>

    <p>I propose the thesis that the human brain is significantly more energy-efficient than modern AI systems, and that the mass replacement of humans by AI in the near future is economically unlikely.</p>

    <p>If AGI does emerge, it will most likely remain at the disposal of large corporations and their allied governments, rather than becoming a truly mass-market tool.</p>

    <p>I invite you to read and discuss the full article on Habr.</p>
</div>
{% endblock %}

{% block blog_item %}
    <li class="blog-item">
        <a class="card-link" href="/en/blog/2025/20250228-01-energy-efficiency-intelligence.html"></a>
        <img src="/img/brand/habr.webp" alt="Energy efficiency of intelligence"/>
        <div>
            <h4>Energy efficiency of intelligence</h4>
            <p>
                Reasoning about why AGI is unlikely to replace programmers - due to the colossal
                energy consumption of AI.
            </p>
            <time datetime="2025-02-28">February 28, 2025</time>
        </div>
    </li>
{% endblock %}

