{% extends "inc/layout.html" %} {% block title %}How long will we keep discriminating against algorithms?{% endblock %} {% block content %}

<div class="card blog-post">
    <h1>How long will we keep discriminating against algorithms?</h1>
    <time datetime="2025-10-25">October 25, 2025</time>

    <zoom-img src="/img/blog/2025/20251025-01-stop-discriminating-algorithms.jpg"
        alt="How long will we keep discriminating against algorithms?" width="100px"></zoom-img>

    <p>I see knowledge as the outcome of a community working together rather than the product of isolated carriers. The correctness of any knowledge is defined not by the moment it appears but by the collective verification performed by other members of society. In this approach, there is no difference between a human brain and a computational algorithm: both can churn out meaningless noise or generate new elements of the shared cognitive environment. If knowledge passes public scrutiny, it joins the corpus of accepted concepts regardless of its source. That is why I find discrimination based on the origin of knowledge unjustified. Algorithms participate in the common process just like people, and their contribution should not be judged differently.
        The full article in Russian is published on Habr.</p>

    <p>
        <a href="https://habr.com/ru/articles/960134/" target="_blank">Read the original on Habr</a>
    </p>
</div>

{% endblock %} {% block blog_item %}

<li class="blog-item">
    <a class="card-link" href="/en/blog/2025/20251025-01-stop-discriminating-algorithms.html"></a>
    <img src="/img/blog/2025/20251025-01-stop-discriminating-algorithms.jpg"
        alt="How long will we keep discriminating against algorithms?" />
    <div>
        <h4>How long will we keep discriminating against algorithms?</h4>
        <p>In this <a href="https://habr.com/ru/articles/960134/" target="_blank">publication</a> I explain the social origin of knowledge and why algorithms should be considered equal participants in the cognitive space.</p>
        <time datetime="2025-10-25">October 25, 2025</time>
    </div>
</li>

{% endblock %}
