{% extends "inc/layout.html" %}

{% block title %}New Article: Early vs Late Binding in JavaScript{% endblock %}

{% block content %}
<div class="card">
    <h1>New Article: Early vs Late Binding in JavaScript</h1>

    <span style="display: block; text-align: right;">
        <strong>Publication date:</strong> 2024-11-12
    </span>

    <zoom-img
            src="/img/blog/2024/11/12-01.png"
            alt="Early vs Late Binding in JavaScript"
            width="100px"
            style="float: left; margin: 15px 15px 0 0;"
    ></zoom-img>

    <p>Published an article on <a
            href="https://flancer32.com/understanding-early-vs-late-binding-in-javascript-d80c6b985f4b" target="_blank">Medium</a>
        and <a href="https://habr.com/ru/articles/856578/" target="_blank">Habr</a>, where I share my perspective on the differences
        between <strong>early</strong> and <strong>late binding</strong> in JavaScript.</p>

    <p>Through practical examples, I explain how these approaches affect code structure and how they relate to the concept
        of dependency injection. If you aim to create more flexible and scalable architectures — this article
        will be useful.</p>

    <p>I hope it clarifies key points and inspires you to apply new approaches in your projects.</p>
</div>
{% endblock %}

{% block blog_item %}
    <li class="blog-item">
        <a class="card-link" href="/en/blog/2024/20241112-01-early-vs-late-binding.html"></a>
        <img src="/img/blog/2024/11/12-01.png" alt="Article about binding in JavaScript"/>
        <div>
            <h4>Article about binding in JavaScript</h4>
            <p>
                Explaining key differences between early and late binding and their impact on code architecture.
            </p>
            <time datetime="2024-11-12">November 12, 2024</time>
        </div>
    </li>
{% endblock %}

