<footer class="footer">
    <p>&copy; 2024 F. Lancer. All rights reserved.</p>
    <!-- div class="footer-links">
        <a href="/privacy-policy">Privacy Policy</a>
    </div -->
</footer>

<style>
    .footer {
        text-align: center;
        padding: 20px;
        background-color: #1A1A1A;
        border-top: 1px solid #333;
        color: #81C784;
    }

    .footer-links {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .footer-links a {
        text-decoration: none;
        color: #4CAF50;
        font-size: 0.9rem;
        transition: color 0.3s ease-in-out;
    }

    .footer-links a:hover {
        color: #81C784;
    }
</style>
