---
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<ul>
    <li><a href="/events/" title="All events related to me">Events</a></li>
    <li><a href="/products/" title="Products & Services">Products</a></li>
    <li><a href="/contacts/" title="My contacts">Contacts</a></li>
    <li><a href="/about/" title="About me">About</a></li>
</ul>