{% extends "inc/layout.html" %} {% block title %}¿Hasta cuándo seguiremos discriminando a los algoritmos?{% endblock %} {% block content %}

<div class="card blog-post">
    <h1>¿Hasta cuándo seguiremos discriminando a los algoritmos?</h1>
    <time datetime="2025-10-25">25 de octubre de 2025</time>

    <zoom-img src="/img/blog/2025/20251025-01-stop-discriminating-algorithms.jpg"
        alt="¿Hasta cuándo seguiremos discriminando a los algoritmos?" width="100px"></zoom-img>

    <p>Considero el conocimiento como el resultado del trabajo de una comunidad más que de portadores individuales. La corrección de cualquier conocimiento no se determina por el momento de su aparición, sino por la verificación colectiva llevada a cabo por otros miembros de la sociedad. En este enfoque no hay diferencia entre el cerebro humano y un algoritmo computacional: ambos pueden generar tanto un flujo carente de sentido como nuevos elementos del entorno cognitivo compartido. Si el conocimiento supera la revisión pública, pasa a formar parte del corpus de conceptos aceptados sin importar su procedencia. Por eso considero que la discriminación por el origen del conocimiento es injustificada. Los algoritmos participan en el proceso común al igual que las personas, y su contribución no debe valorarse de forma distinta. El artículo completo en ruso está publicado en Habr.</p>

    <p>
        <a href="https://habr.com/ru/articles/960134/" target="_blank">Leer el original en Habr</a>
    </p>
</div>

{% endblock %} {% block blog_item %}

<li class="blog-item">
    <a class="card-link" href="/es/blog/2025/20251025-01-stop-discriminating-algorithms.html"></a>
    <img src="/img/blog/2025/20251025-01-stop-discriminating-algorithms.jpg"
        alt="¿Hasta cuándo seguiremos discriminando a los algoritmos?" />
    <div>
        <h4>¿Hasta cuándo seguiremos discriminando a los algoritmos?</h4>
        <p>En esta <a href="https://habr.com/ru/articles/960134/" target="_blank">publicación</a> explico el origen social del conocimiento y por qué los algoritmos deben considerarse participantes iguales en el espacio cognitivo.</p>
        <time datetime="2025-10-25">25 de octubre de 2025</time>
    </div>
</li>

{% endblock %}
