{% extends "inc/layout.html" %}

{% block title %}Знаний слишком много: эссе про знание и внимание{% endblock %}

{% block content %}
<div class="card blog-post">
    <h1>Знаний слишком много: эссе про знание и внимание</h1>
    <time datetime="2026-01-08">8 января 2026</time>

    <zoom-img src="/img/library/concepts/20260108-knowledge-attention/kdpv.png" alt="Знание и внимание"
        width="100px"></zoom-img>

    <p>
        Я опубликовал на Хабре <a href="https://habr.com/ru/articles/983094/" target="_blank">эссе про знание и
            внимание</a> а также добавил эссе в мою <a
            href="/ru/library/concepts/20260108-knowledge-attention.html">библиотеку</a>.
    </p>

    <h2>Краткое содержание</h2>

    <p>В этой публикации я рассуждаю на тему, что:</p>
    <ul>
        <li>люди не «передают знания», а встраивают фрагменты в свои персональные картины мира,</li>
        <li>встраивание ограничено вниманием, которое является конечным и расходуемым ресурсом,</li>
        <li>классические формы структурирования текста (заголовок → анонс → оглавление → предисловие → текст) — это
            механизм экономии внимания,</li>
        <li>современные платформы уже неявно измеряют инвестиции внимания через поведение,</li>
        <li>LLM позволяют осознанно работать с плотностью нарратива (свёртывание, эмбеддинги),</li>
        <li>эмбеддинги можно использовать как универсальный отпечаток смысла,</li>
        <li>суммирование эмбеддингов прочитанных текстов даёт динамический профиль интересов человека,</li>
        <li>и это открывает путь к новой форме персонализации и коллективного мышления, основанной на частичных
            совпадениях картин мира.</li>
    </ul>

    <p>Кому интересно — можно обсудить эти тезисы со мной <a href="https://t.me/wiredgeese">лично</a>.</p>
</div>
{% endblock %}

{% block blog_item %}
<li class="blog-item">
    <a class="card-link" href="/ru/blog/2026/20260108-01-knowledge-attention.html"></a>
    <img src="/img/library/concepts/20260108-knowledge-attention/kdpv.png" alt="Знание и внимание" />
    <div>
        <h4>Знание и внимание</h4>
        <p>
            Анонс эссе: знания встраиваются в персональные картины мира, а внимание — конечный ресурс, которым мы платим
            за освоение смыслов.
        </p>
        <time datetime="2026-01-08">8 января 2026</time>
    </div>
</li>
{% endblock %}
