{% extends "inc/layout.html" %}

{% block title %}ADSM: каталоги верхнего уровня{% endblock %}

{% block content %}
<div class="card blog-post">
    <h1>ADSM: каталоги верхнего уровня</h1>
    <time datetime="2025-11-22">22 ноября 2025</time>

    <zoom-img src="/img/blog/2025/20251122-01-adsm-top-level-directories.png" alt="ADSM: каталоги верхнего уровня"
        width="100px"></zoom-img>

    <p style="text-align: center;">
        <em>
            Мотивация к появлению подхода AFKP изложена в статье "<a href="https://habr.com/ru/articles/963910/">Когда
                знаний в избытке</a>". Этот фрагмент соответствует стадии 2 AFKP (резонанс). На Хабре опубликован <a
                href="https://habr.com/ru/articles/967452/">другой вариант</a> первых двух стадий AFKP - зацепления и
            резонанса. Это более компактная версия текста для стадии резонанса.
        </em>
    </p>
    <p>
        В ADSM я разделяю проект на две большие области: код и документацию. Код зависит от выбранного ЯП, а
        документацию я далее делю на три зоны:
    </p>
    <ul>
        <li><strong>agent</strong> - зона для общения с агентами, где фиксируются отчёты и шаблоны промптов;</li>
        <li><strong>product</strong> - бизнес-описание продукта, задающее скелет будущего приложения и формирующее поле
            действий агента;</li>
        <li><strong>rules</strong> - набор регламентов, описывающих, как именно должен создаваться программный продукт
            на выбранном языке.</li>
    </ul>
    <p>
        Эта структура каталогов отражает мой опыт работы с LLM-агентами и построена так, чтобы документация и код
        существовали как единое пространство, учитывающее языковую природу моделей и их статистические ограничения. Она
        помогает удерживать фокус агента и направлять его работу в нужные рамки.
    </p>

    <p style="text-align: center;">
        <a href="/ru/library/adsm/20251122-01-adsm-top-level-dirs.html">Читать полный текст<em>(3-я стадия по AFKP
                - погружение)</em>.</a>
    </p>
</div>
{% endblock %}

{% block blog_item %}
<li class="blog-item">
    <a class="card-link" href="/ru/blog/2025/20251122-01-adsm-top-level-directories.html"></a>
    <img src="/img/blog/2025/20251122-01-adsm-top-level-directories.png" alt="ADSM: каталоги верхнего уровня" />
    <div>
        <h4>ADSM: каталоги верхнего уровня</h4>
        <p> Мой персональный подход к базовой организации файловой структуры проектов в соответствии с методологией
            ADSM.
        </p>
        <p style="text-align: center;">
            <em>
                Это первая экспериментальная статья, оформленная по принципу предварительного принятия знания
                (AFKP - Acceptance-First Knowledge Principle). Этот текст соответствует 1-й стадии AFKP (зацепление).
            </em>
        </p>
        <time datetime="2025-11-22">22 ноября 2025</time>
    </div>
</li>
{% endblock %}