{% extends "inc/layout.html" %}
{% block title %}ADSM: итеративность и иерархия{% endblock %}
{% block content %}

<div class="card blog-post">
    <h1>ADSM: итеративность и иерархия</h1>
    <time datetime="2025-11-11">11 ноября 2025</time>

    <zoom-img src="/img/blog/2025/20251111-01-adsm-iterative-and-hierarchical.png" alt="ADSM: итеративность и иерархия"
        width="100px"></zoom-img>

    <p>
        Ограниченность выходного контекста определяет пределы применения Моделей при работе с кодовой базой.
        Генерация возможна только итерационно: Модель способна надёжно воспроизводить результат, когда входной
        контекст значительно превышает размер выходного, формируя предсказуемое сужение. Проект разбивается на
        небольшие файлы, каждый из которых создаётся в рамках управляемого контекста. Повторяемость достигается
        за счёт фиксированных фрагментов знаний, организованных как иерархическое дерево: от общих принципов к
        уникальным данным конкретного исходника. Такая структура формирует стабильную основу, позволяющую
        Агентам создавать большие проекты без нарушения логики. Полная статья доступна на русском языке на Хабре.
    </p>

    <p>
        <a href="https://habr.com/ru/articles/948282/" target="_blank">
            Читать оригинал на Хабре
        </a>
    </p>
</div>

{% endblock %}

{% block blog_item %}

<li class="blog-item">
    <a class="card-link" href="/ru/blog/2025/20251111-01-adsm-iterative-and-hierarchical.html"></a>
    <img src="/img/blog/2025/20251111-01-adsm-iterative-and-hierarchical.png" alt="ADSM: итеративность и иерархия" />
    <div>
        <h4>ADSM: итеративность и иерархия</h4>
        <p>
            <a href="https://habr.com/ru/articles/948282/" target="_blank">Статья</a> объясняет, как ограниченный контекст Модели задаёт итеративный характер разработки
            и почему проект требует иерархии знаний для устойчивой генерации исходников.
        </p>
        <time datetime="2025-11-11">11 ноября 2025</time>
    </div>
</li>

{% endblock %}