{% extends "inc/layout.html" %}

{% block title %}Когда знаний в избытке{% endblock %}

{% block content %}

<div class="card blog-post">
    <h1>Когда знаний в избытке</h1>
    <time datetime="2025-11-07">7 ноября 2025</time>

    <zoom-img src="/img/blog/2025/20251107-01-when-knowledge-is-too-much.png" alt="Когда знаний в избытке"
        width="100px"></zoom-img>

    <p>
        Я наблюдаю, как объём знаний перестаёт быть чем-то, что можно удержать. Потоки растут быстрее,
        чем успеваешь их анализировать, и привычная опора на последовательное изучение больше не работает.
        Приходится принимать факты прежде, чем разбираться в них. Внутренняя картина мира держится не на
        доказательствах,
        а на согласованности, которую удаётся сохранить под давлением информации. Я всё чаще вижу, что форма подачи
        знания
        становится важнее полноты содержания: многослойность, разные уровни детализации и уважение к вниманию позволяют
        принимать идеи без перегрузки. В такой среде правдоподобие определяется не истиной, а сонастройкой. Именно
        поэтому
        я оформляю свои тексты по AFKP, а полная статья на русском доступна на Хабре — она раскрывает эту мысль глубже и
        показывает, как меняется модель восприятия в условиях избытка знаний.
    </p>

    <p>
        <a href="https://habr.com/ru/articles/963910/" target="_blank">Читать оригинал на Хабре</a>
    </p>
</div>

{% endblock %}

{% block blog_item %}

<li class="blog-item">
    <a class="card-link" href="/ru/blog/2025/20251107-01-when-knowledge-is-too-much.html"></a>
    <img src="/img/blog/2025/20251107-01-when-knowledge-is-too-much.png" alt="Когда знаний в избытке" />
    <div>
        <h4>Когда знаний в избытке</h4>
        <p>
            Я описываю, как меняется мышление при перегрузке информацией. Эта <a
                href="https://habr.com/ru/articles/963910/" target="_blank">статья</a> показывает, почему важно
            проектировать формы восприятия.
        </p>
        <time datetime="2025-11-07">7 ноября 2025</time>
    </div>
</li>
{% endblock %}
