{% extends "inc/layout.html" %}

{% block title %}Энергоэффективность интеллекта{% endblock %}

{% block content %}
<div class="card">
    <h1>Энергоэффективность интеллекта</h1>

    <span style="display: block; text-align: right;">
        <strong>Дата публикации:</strong> 2025-02-28
    </span>

    <zoom-img
            src="/img/brand/habr.webp"
            alt="Энергоэффективность интеллекта"
            width="100px"
            style="float: left; margin: 15px 15px 0 0;"
    ></zoom-img>

    <p>Опубликована новая статья <strong><a href="https://habr.com/ru/articles/886718/" target="_blank">«Энергоэффективность
        интеллекта»</a></strong> на платформе Habr. В ней я исследую вопрос, насколько человеческий интеллект уступает
        или превосходит ИИ с точки зрения энергопотребления.</p>

    <p>Я выдвигаю тезис о том, что человеческий мозг значительно более энергоэффективен, чем современные ИИ-системы, и
        что массовое вытеснение людей ИИ в ближайшем будущем экономически маловероятно.</p>

    <p>Если AGI и появится, то, скорее всего, он останется в распоряжении крупных корпораций и дружественных им
        государств, не став по-настоящему массовым инструментом.</p>

    <p>Приглашаю к чтению и обсуждению полного текста статьи на Habr.</p>
</div>
{% endblock %}

{% block blog_item %}
    <li class="blog-item">
        <a class="card-link" href="/ru/blog/2025/20250228-01-energy-efficiency-intelligence.html"></a>
        <img alt="Энергоэффективность интеллекта" src="/img/brand/habr.webp" />
        <div>
            <h4>Энергоэффективность интеллекта</h4>
            <p>Рассуждение о том, почему AGI вряд ли заменит программистов — из-за колоссального
                энергопотребления ИИ.</p>
            <time datetime="2025-02-28">28 февраля 2025</time>
        </div>
    </li>
{% endblock %}

