{% extends "inc/layout.html" %} {% block title %}Доколе мы будем ущемлять алгоритмы?{% endblock %} {% block content %}

<div class="card blog-post">
    <h1>Доколе мы будем ущемлять алгоритмы?</h1>
    <time datetime="2025-10-25">25 октября 2025</time>

    <zoom-img src="/img/blog/2025/20251025-01-stop-discriminating-algorithms.jpg"
        alt="Доколе мы будем ущемлять алгоритмы?" width="100px"></zoom-img>

    <p>Я рассматриваю знание как результат работы сообщества, а не отдельных носителей. Корректность любого знания
        определяется не моментом его появления, а коллективной проверкой другими участниками социума. В этом подходе нет
        разницы между человеческим мозгом и вычислительным алгоритмом: оба способны производить как бессмысленный поток,
        так и новые элементы общей когнитивной среды. Если знание проходит общественную проверку, оно входит в корпус
        признанных концептов вне зависимости от источника. Именно поэтому я считаю дискриминацию по происхождению знаний
        неоправданной. Алгоритмы участвуют в общем процессе так же, как и люди, и их вклад не должен оцениваться иначе.
        Полная статья на русском размещена на Хабре.</p>

    <p>
        <a href="https://habr.com/ru/articles/960134/" target="_blank">Читать оригинал на Хабре</a>
    </p>
</div>

{% endblock %} {% block blog_item %}

<li class="blog-item">
    <a class="card-link" href="/ru/blog/2025/20251025-01-stop-discriminating-algorithms.html"></a>
    <img src="/img/blog/2025/20251025-01-stop-discriminating-algorithms.jpg"
        alt="Доколе мы будем ущемлять алгоритмы?" />
    <div>
        <h4>Доколе мы будем ущемлять алгоритмы?</h4>
        <p>В этой <a href="https://habr.com/ru/articles/960134/" target="_blank">публикации</a> я говорю о социальном
            происхождении знаний и о том, почему алгоритмы должны считаться равноправными участниками когнитивного
            пространства.</p>
        <time datetime="2025-10-25">25 октября 2025</time>
    </div>
</li>

{% endblock %}