{% extends "inc/layout.html" %}

{% block title %}ES6 `export` как строительный блок{% endblock %}

{% block content %}
<div class="card">
    <h1>ES6 <code>export</code> как строительный блок</h1>

    <span style="display: block; text-align: right;">
        <strong>Дата публикации:</strong> 2022-05-08
    </span>

    <zoom-img
            src="/img/post/2022050801.webp"
            alt="Иллюстрация к публикации"
            style="max-width: 100%; float: left; margin: 15px 15px 0 0;"
    ></zoom-img>

    <p>Что такое строительный блок (<em>brick</em>) в современных приложениях на ES2015+? Переменная, функция, класс,
        модуль? Мой ответ — <code>export</code>. Сегодня мы организуем JavaScript-код в виде модулей ES6 и связываем их
        через <code>import</code>:</p>

    <pre><code class="language-js">import {export1, export2} from "module-name";</code></pre>

    <p>Убеждён: JavaScript нужны пространства имён, как в «серьёзных» языках. Планирую продолжить тему в следующих
        постах.</p>
</div>
{% endblock %}

{% block blog_item %}
    <li class="blog-item">
        <a class="card-link" href="/ru/blog/2022/20220508-01-export-as-brick.html"></a>
        <img alt="Иллюстрация к публикации" src="/img/post/2022050801.webp" />
        <div>
            <h4>ES6 <code>export</code> как строительный блок</h4>
            <p>Назвал <code>export</code> главным кирпичом ES6-модулей и пообещал продолжить тему пространств имён.</p>
            <time datetime="2022-05-08">8 мая 2022</time>
        </div>
    </li>
{% endblock %}
