---
import '../styles/layout.css';
---
<script is:inline type="module">
    import FBigImage from '/public/components/AppBigImage.mjs';
    import FHeader from '/public/components/AppHeader.mjs';
    import FMenu from '/public/components/AppMenu.mjs';

    if (typeof window !== 'undefined') {
        FBigImage();
        FHeader();
        FMenu();
    }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Website</title>
</head>
<body>
<div class="intro">
    <div class="content">
        <h1 class="slogan">
            Experience web apps like never before with PWA
        </h1>
        <h4>Complex issues bear multiple solutions; their optimum is in the eye of the assessor.</h4>
        <img src="https://gravatar.com/userimage/144345089/fc8f81bd3bcc05389f1241f7d8ff2868.jpeg" alt="Your Avatar"
             class="avatar">
    </div>
</div>
<app-big-image></app-big-image>
<header>
    <app-menu>
        <nav class="menu">
            <ul>
                <li><a href="#section1">Section 1</a></li>
                <li><a href="#section2">Section 2</a></li>
                <li><a href="#section3">Section 3</a></li>
                <li><a href="#section4">Section 4</a></li>
                <li><a href="#section5">Section 5</a></li>
                <li><a href="#section6">Section 6</a></li>
            </ul>
        </nav>
    </app-menu>
</header>


<main>
    <div class="content-area">
        <p>Example content.</p>
        <!-- Repeat the below paragraph for scrollable content -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>
</main>

<footer>
    <div class="footer-content">
        <p>Copyright © 2022 |<a href="#"> Contact Me</a></p>
    </div>
</footer>
</body>
</html>