{% extends "inc/layout.html" %}

{% block title %}Nuevo artículo en Medium: Primeros pasos con bots de Telegram{% endblock %}

{% block content %}
<div class="card">
    <h1>Nuevo artículo en Medium: Primeros pasos con bots de Telegram</h1>

    <span style="display: block; text-align: right;">
        <strong>Fecha de publicación:</strong> 2024-10-08
    </span>

    <zoom-img
            src="/img/blog/2024100801.png"
            alt="Nuevo artículo en Medium: Primeros pasos con bots de Telegram"
            width="100px"
            style="float: left; margin: 15px 15px 0 0;"
    ></zoom-img>

    <p>He publicado un nuevo artículo en Medium titulado <strong>«Bots de Telegram: primeros pasos»</strong>. Es una guía detallada paso a paso para principiantes sobre cómo crear bots de Telegram utilizando el framework <strong>grammY</strong> y la plataforma Node.js.</p>

    <p>Si estás empezando con bots, este artículo te ayudará a sumergirte rápidamente en el tema con ejemplos prácticos.</p>

    <p>Leer el artículo:
        <a href="https://link.medium.com/s1OcU4hPwNb" target="_blank">
            Bots de Telegram: primeros pasos
        </a>
    </p>

    <p>También está disponible el repositorio de demostración con el código de todos los ejemplos:
        <a href="https://github.com/flancer64/tg-demo-base" target="_blank">
            @flancer64/tg-demo-base
        </a>
    </p>
</div>
{% endblock %}