BODY {
    color: var(--color-darker);
}

A:link,
A:visited {
    color: var(--color-base);
}

.t-cookies A:link,
.t-cookies A:visited {
    color: var(--color-lightest);
    font-weight: bold;
}

#menu-top A:link,
#menu-top A:visited,
#layout-right A:link,
#layout-right A:visited {
    color: var(--color-darker);
    text-decoration: none;
}

#menu-top .active,
#layout-right .active {
    background-color: var(--color-lightest);
}

.t-bg {
    /*background-color: var(--color-bg);*/
}

.t-bg-darker {
    background-color: var(--color-lighter);
}