H1 {
    font-size: x-large;
    font-weight: bolder;
    line-height: 3rem;
    margin: 0;
    text-align: center;
}

H2 {
    font-size: large;
    font-weight: bolder;
    margin-top: 10px;
}

#layout-header {
    background-color: white;
    color: var(--color-darker);
}

#layout-right {
    /*background-color: var(--color-bg);*/
}

#layout-main {
    display: grid;
    justify-items: center;
}

#layout-main > DIV {
    max-width: 800px;
}

.t-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px 0 5px;
}

.t-footer DIV {
    padding: 0 5px 0 5px;
}

@media only screen and (min-width: 600px) {
    .t-mob-hide {
        display: block;
    }

    .t-card-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    #menu-top {
        display: flex;
    }

    #btn-menu, .q-drawer-container {
        display: none;
    }
}

@media only screen and (max-width: 599px) {
    .t-mob-hide {
        display: none;
    }

    .t-card-home {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    #menu-top {
        display: none;
    }

    #btn-menu, .q-drawer-container {
        display: block;
    }
}


