:root {
    --color-base: #236ab9;
    --color-bg-dark: #e1ecf9;
    --color-bg: #f2f7fc;
    --color-darker: #133863;
    --color-darkest: #091d34;
    --color-lighter: #609ce1;
    --color-lightest: #e1ecf9;
    --color-text: #343409;
}