{% extends "inc/layout.html" %}

{% block title %}PublicKeyCredential in Web Apps{% endblock %}
{% block description %}In this post, I will provide an example of how to implement user authentication using [PublicKeyCredential](https://developer.mozilla.org/en-US/docs/Web/API/PublicKeyCredential) fr{% endblock %}

{% block content %}
<div class="card">
    <h1>PublicKeyCredential in Web Apps</h1>
    <span style="display: block; text-align: right;">
        <strong>Publication date:</strong> 2023-05-19
    </span>
    {% raw %}
<p>In this post, I will provide an example of how to implement user authentication using <a href="https://developer.mozilla.org/en-US/docs/Web/API/PublicKeyCredential">PublicKeyCredential</a> from the Web API. This is <em>just-another-example</em> from the internet that demonstrates the usage of this authentication method. You can try it out online yourself. Both parts of the example are written in pure JavaScript, and the source code can be found in the “<a href="https://github.com/flancer64/demo-webauthn-pubkey">flancer64/demo-webauthn-pubkey</a>” repo (<a href="https://pk.auth.demo.teqfw.com/">online demo</a>).</p>
<p>Demo homepage</p>
<h2 id="common-scheme">Common Scheme</h2>
<p>First of all, it is necessary to present the general scheme of interaction among all actors involved: the User, the Authentication Device (Authenticator), the Browser, and the Backend with the Store:</p>
<p>Common scheme</p>
<p>All parts of the schema must be understood except for the Authenticator. An authenticator refers to a physical device or program that contains asymmetric encryption keys, which can be interacted with by a browser.</p>
<h2 id="virtual-environment">Virtual environment</h2>
<p>A software authenticator is integrated into the Chrome browser for development purposes. You can find it by navigating to “<em>DevTools / Customize and control DevTools (triple-dots) / More tools / WebAuth</em>”.</p>
<p>Enable WebAuthn tools</p>
<p>I have placed the “<em>WebAuthn</em>” tab in the bottom panel, however, you can also find the “<em>WebAuthn</em>” tab in the top panel (by default):</p>
<p>WebAuthn panel in Chrome’s Dev Tools</p>
<p>Don’t forget to enable your authenticator by selecting “<em>Enable virtual authenticator environment</em>” and creating a new authenticator with the <code>transport</code> set to <code>internal</code>.</p>
<h2 id="attestation-and-assertion">Attestation and Assertion</h2>
<h3 id="attestation">Attestation</h3>
<p>Attestation is the process of registering a user’s public key with a backend:</p>
<p>Attestation</p>
<ol type="1">
<li>The Browser requests an attestation challenge from the Backend (Relying Party).</li>
<li>The Backend generates the attestation challenge and transmits it to the Browser.</li>
<li>The Browser requests the Authenticator to either create new asymmetric keys or use existing ones, and generate attestation data accordingly.</li>
<li>The User verifies their identity (using a PIN, fingerprint, FaceID, etc.).</li>
<li>The Authenticator sends the attestation data to the Browser.</li>
<li>The Browser sends the attestation data to the Backend.</li>
<li>The Backend validates the attestation data using the attestation challenge and saves the public key to the Store.</li>
</ol>
<h3 id="assertion">Assertion</h3>
<p>Assertion is the process of proving ownership of a registered credential during authentication:</p>
<p>Assertion</p>
<ol type="1">
<li>The Browser requests an assertion challenge from the Backend (Relying Party).</li>
<li>The Backend generates the assertion challenge and transmits it to the Browser.</li>
<li>The Browser requests the Authenticator to sign the assertion challenge with the private key.</li>
<li>The User verifies their identity (using a PIN, fingerprint, FaceID, etc.).</li>
<li>The Authenticator signs the challenge and sends the assertion data to the Browser.</li>
<li>The Browser sends the assertion data to the Backend.</li>
<li>The Backend validates the assertion data using the stored public key from the Store.</li>
</ol>
<h2 id="attestation-implementation">Attestation Implementation</h2>
<h3 id="the-attestation-challenge-request">1. The attestation challenge request</h3>
<p>In the request for an attestation challenge, the browser needs to provide a user identifier to allow the backend to associate the attestation challenge with the correct user. Typically, the user’s email is used as the user identifier. As a result, the initial step for attestation involves filling out a registration form, like the one shown below:</p>
<p>Sign Up</p>
<ul>
<li><a href="https://github.com/flancer64/demo-webauthn-pubkey/blob/20230518/src/Front/Ui/Route/Sign/Up.mjs#L118">Demo_Front_Ui_Route_Sign_Up</a></li>
<li><a href="https://github.com/flancer64/demo-webauthn-pubkey/blob/20230518/src/Front/Mod/User.mjs#L46">Demo_Front_Mod_User.register</a></li>
<li><a href="https://github.com/flancer64/demo-webauthn-pubkey/blob/20230518/src/Back/Web/Api/Sign/Up.mjs#L63">Demo_Back_Web_Api_Sign_Up</a></li>
</ul>
<h3 id="the-attestation-challenge-generation">2. The attestation challenge generation</h3>
<p>The backend registers a new user (or finds a previously registered user by his identifier) and generates a challenge for his certification — a random binary sequence 32 bytes long:</p>
<pre>import {randomBytes} from ‘node:crypto’;
const challenge = randomBytes(32);</pre>
<p>The attestation challenge is stored on the backend and must be unique among all other challenges to ensure its distinctiveness.</p>
<p>Since the attestation challenge needs to be transmitted over the internet, it should be base64 URL encoded. Here is the typical data that the backend returns to the browser for an attestation challenge request:</p>
<pre>{</pre>
<p>“challenge”: “O-SjwzNHvaJrIMBILj7vaupmbSXqaSpzhBiMaiXtq-w”,</p>
<p>“uuid”: “user@email.com”</p>
<pre>} * <a href="https://github.com/flancer64/demo-webauthn-pubkey/blob/20230518/src/Back/Web/Api/Sign/Up.mjs#L72">Demo_Back_Web_Api_Sign_Up</a> * <a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Back/Mod/PubKey.mjs#L122">Fl32_Auth_Back_Mod_PubKey.attestChallengeCreate</a></pre>
<h3 id="the-attestation-data-request">3. The attestation data request</h3>
<p>After the browser receives an attestation challenge, it can send a request to the authenticator to retrieve the attestation data using the following code:</p>
<pre>/** <span class="citation" data-cites="type">@type</span> {PublicKeyCredential} */
const attestation = await navigator.credentials.create({publicKey});</pre>
<p>Here is a typical structure for the request:</p>
<pre>{</pre>
<p>“publicKey”: {</p>
<p>“rp”: {</p>
<p>“name”: “WebAuthn Demo”</p>
<pre>},</pre>
<p>“user”: {</p>
<p>“id”: {/* binary data */},</p>
<p>“name”: “user@email.com”,</p>
<p>“displayName”: “user@email.com”</p>
<pre>},</pre>
<p>“challenge”: {/* binary data */},</p>
<p>“pubKeyCredParams”: [</p>
<pre>{</pre>
<p>“type”: “public-key”,</p>
<p>“alg”: -7</p>
<pre>}
],</pre>
<p>“timeout”: 300000,</p>
<p>“authenticatorSelection”: {</p>
<p>“authenticatorAttachment”: “platform”,</p>
<p>“userVerification”: “preferred”</p>
<pre>}
}
} * <a href="https://github.com/flancer64/demo-webauthn-pubkey/blob/20230518/src/Front/Ui/Route/Sign/Up.mjs#L123">Demo_Front_Ui_Route_Sign_Up</a> * <a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Front/Mod/PubKey.mjs#L126">Fl32_Auth_Front_Mod_PubKey.composeOptPkCreate</a></pre>
<h3 id="user-verification">4. User verification</h3>
<p>The authenticator prompts the user to verify their identity using a specific method, such as fingerprint authentication:</p>
<p>User verification with fingerprint</p>
<h3 id="the-attestation-data">5. The attestation data</h3>
<p>To ensure independence from the usage environment, the attestation data is designed to be binary. The following approximate data is transmitted from the authenticator to the browser:</p>
<p>The attestation data</p>
<h3 id="transfer-of-attestation-data-to-the-backend">6. Transfer of attestation data to the backend</h3>
<p>The attestation data needs to be encoded in base64 URL format before sending it to the backend:</p>
<pre>{</pre>
<p>“cred”: {</p>
<p>“attestationId”: “DDn8LhxnQB8g7qNKngMy-noDzSDIOyUMGg2soOeS6XA”,</p>
<p>“attestationObj”: “o2NmbXRkbm9uZWdhdHRTdG10oGhhdXRoRGF0YVikf6szqCHzhqRvtjZCcGybmpvrF7EKK4PpOd3KgOFc2VJFAAAAAQECAwQFBgcIAQIDBAUGBwgAIAw5_C4cZ0AfIO6jSp4DMvp6A80gyDslDBoNrKDnkulwpQECAyYgASFYIJ3Q9MQ0iOYg2HXVc6jO1wrIrmqhyOWAIu7G-QmMf9K0IlggF2qdOPRGQOPFyYOchDy-f2uqalA_NtSsk5Rqs85pN0U”,</p>
<p>“clientData”: “eyJ0eXBlIjoid2ViYXV0aG4uY3JlYXRlIiwiY2hhbGxlbmdlIjoiTFBJYlcyODdBZlVTeWRfNVlWUVJ4QjdSY1htVWY5Ym10NXBsNVZHbnllcyIsIm9yaWdpbiI6Imh0dHBzOi8vcGsuYXV0aC5kZW1vLnRlcWZ3LmNvbSIsImNyb3NzT3JpZ2luIjpmYWxzZX0”</p>
<pre>}
} * <a href="https://github.com/flancer64/demo-webauthn-pubkey/blob/20230518/src/Front/Ui/Route/Sign/Up.mjs#L136">Demo_Front_Ui_Route_Sign_Up</a> * <a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Front/Mod/PubKey.mjs#L89">Fl32_Auth_Front_Mod_PubKey.attest</a> * <a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Back/Web/Api/Attest.mjs#L61">Fl32_Auth_Back_Web_Api_Attest</a></pre>
<h3 id="validation-of-the-attestation-data">7. Validation of the attestation data</h3>
<p>This is the crucial step of the process — the attestation data is validated on the backend, and the user’s public key is associated with the corresponding user. The most challenging aspect is accurately parsing and presenting the attestation data. In my demo application, I utilized the following libraries for this purpose:</p>
<ul>
<li><a href="https://www.npmjs.com/package/cbor">cbor</a></li>
<li><a href="https://www.npmjs.com/package/parse-cosekey">parse-cosekey</a></li>
</ul>
<p>Ultimately, I extract the user’s public key from the attestation data and store it in the database in JWK (JSON Web Key) format:</p>
<pre>{</pre>
<p>“kty”: “EC”,</p>
<p>“alg”: “ES256”,</p>
<p>“crv”: “P-256”,</p>
<p>“x”: “1rSQKqnG0I3uSLaUPsCqEzdHAqDWYWajw3UrPiy4BuI”,</p>
<p>“y”: “KhXxXe5uJPlSSlYBADbA-rt38_FtyuVK0Jv3wTzgBlk”</p>
<pre>} On the frontend, the attestation ID (<code>DDn…6XA</code>) is stored in local storage for later use in assertions.</pre>
<ul>
<li><a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Back/Web/Api/Attest.mjs#L65">Fl32_Auth_Back_Web_Api_Attest</a></li>
<li><a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Back/Util/WebAuthn.mjs#L49">Fl32_Auth_Back_Util_WebAuthn.decodeAttestationObj</a></li>
<li><a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Back/Util/WebAuthn.mjs#L61">Fl32_Auth_Back_Util_WebAuthn.decodeAuthData</a></li>
</ul>
<h2 id="assertion-implementation">Assertion Implementation</h2>
<h3 id="the-assertion-challenge-request">1. The assertion challenge request</h3>
<p>In the demo application, each user can have only one attestation associated with a public key. Therefore, the request specifies the ID of this particular attestation:</p>
<pre>{“attestationId”: “DDn8LhxnQB8g7qNKngMy-noDzSDIOyUMGg2soOeS6XA”} * <a href="https://github.com/flancer64/demo-webauthn-pubkey/blob/20230518/src/Front/Ui/Route/Sign/In.mjs#L112">Demo_Front_Ui_Route_Sign_In</a> * <a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Front/Mod/PubKey.mjs#L69">Fl32_Auth_Front_Mod_PubKey.assertChallenge</a> * <a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Back/Web/Api/Assert/Challenge.mjs#L36">Fl32_Auth_Back_Web_Api_Assert_Challenge</a></pre>
<h3 id="the-assertion-challenge-generation">2. The assertion challenge generation</h3>
<p>The backend retrieves the corresponding attestation from its database, generates an assertion challenge, and associates it with the located attestation:</p>
<pre>{</pre>
<p>“attestationId”: “DDn8LhxnQB8g7qNKngMy-noDzSDIOyUMGg2soOeS6XA”,</p>
<p>“challenge”: “K5YhDdqmaBUVHfJFAi50EcmcLW2n08mLcvxMlsDVEGI”</p>
<pre>} * <a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Back/Web/Api/Assert/Challenge.mjs#L42">Fl32_Auth_Back_Web_Api_Assert_Challenge</a> * <a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Back/Mod/PubKey.mjs#L122">Fl32_Auth_Back_Mod_PubKey.assertChallengeCreate</a></pre>
<h3 id="the-assertion-data-request">3. The assertion data request</h3>
<p>After the browser receives an assertion challenge, it can send a request to the authenticator to retrieve the assertion data using the following code:</p>
<pre>/** <span class="citation" data-cites="type">@type</span> {PublicKeyCredential} */
const assertion = await navigator.credentials.get({publicKey});</pre>
<p>Here is a typical structure for the request:</p>
<pre>{</pre>
<p>“publicKey”: {</p>
<p>“challenge”: {/* binary */},</p>
<p>“allowCredentials”: [</p>
<pre>{</pre>
<p>“id”: {/* binary */},</p>
<p>“type”: “public-key”,</p>
<p>“transports”: [</p>
<p>“internal”</p>
<pre>]
}
]
}
} * <a href="https://github.com/flancer64/demo-webauthn-pubkey/blob/20230518/src/Front/Ui/Route/Sign/In.mjs#L114">Demo_Front_Ui_Route_Sign_In</a> * <a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Front/Mod/PubKey.mjs#L167">Fl32_Auth_Front_Mod_PubKey.composeOptPkGet</a></pre>
<h3 id="user-verification-1">4. User verification</h3>
<p>Similar to the attestation data request, the authenticator prompts the user to verify their identity.</p>
<h3 id="the-assertion-data">5. The assertion data</h3>
<p>The authenticator provides binary data to the browser for user assertion:</p>
<p>The assertion data</p>
<p>Please note that the <code>assertion.id</code> should be the same as the <code>attestation.id</code> (<code>DDn8LhxnQB8g7qNKngMy-noDzSDIOyUMGg2soOeS6XA</code>).</p>
<h3 id="transfer-of-assertion-data-to-the-backend">6. Transfer of assertion data to the backend</h3>
<p>Just like attestation data, the assertion data needs to be encoded in base64 URL format before sending it to the backend:</p>
<pre>{</pre>
<p>“authenticatorData”: “f6szqCHzhqRvtjZCcGybmpvrF7EKK4PpOd3KgOFc2VIFAAAAAg”,</p>
<p>“clientData”: “eyJ0eXBlIjoid2ViYXV0aG4uZ2V0IiwiY2hhbGxlbmdlIjoiSXNpTGNpMlZaR1FHVE1KVlZVZTlONFI3WWt3bFd2WDFwZ1FaZDFaOTZoWSIsIm9yaWdpbiI6Imh0dHBzOi8vcGsuYXV0aC5kZW1vLnRlcWZ3LmNvbSIsImNyb3NzT3JpZ2luIjpmYWxzZX0”,</p>
<p>“signature”: “MEQCIBJjnmwRNzbE66R_CAdFiu2yklp4-Sindxxjxt8BUdL4AiB-0Mf7hd4t5jCk3ZDjAbcw-1DhLQQ0KHhhC0PSQaJQsA”</p>
<pre>} * <a href="https://github.com/flancer64/demo-webauthn-pubkey/blob/20230518/src/Front/Ui/Route/Sign/In.mjs#L122">Demo_Front_Ui_Route_Sign_In</a> * <a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Front/Mod/PubKey.mjs#L193">Fl32_Auth_Front_Mod_PubKey.validate</a> * <a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Back/Web/Api/Assert/Validate.mjs#L40">Fl32_Auth_Back_Web_Api_Assert_Validate</a></pre>
<h3 id="validation-of-the-assertion-data">7. Validation of the assertion data</h3>
<p>First, you need to transform the <code>clientData</code> into a regular object:</p>
<pre>{</pre>
<p>“type”: “webauthn.get”,</p>
<p>“challenge”: “R92jR_9v-33od9Yiea0RBWABjICbLjeQ1CXVBRo7X7M”,</p>
<p>“origin”: “https://pk.auth.demo.teqfw.com”</p>
<pre>} Then, retrieve the user’s public key from the database for the corresponding <code>challenge</code> (refer to step 2).</pre>
<p>The final step is to verify the correctness of the data signature using the user’s public key stored in the database.</p>
<ul>
<li><a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Back/Web/Api/Assert/Validate.mjs#L48">Fl32_Auth_Back_Web_Api_Assert_Validate</a></li>
<li><a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Back/Mod/PubKey.mjs#L76">Fl32_Auth_Back_Mod_PubKey.assertValidate</a></li>
<li><a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Back/Util/WebAuthn.mjs#L96">Fl32_Auth_Back_Util_WebAuthn.decodeClientDataJSON</a></li>
<li><a href="https://github.com/flancer32/teq-ant-auth/blob/20230518/src/Back/Util/WebAuthn.mjs#L23">Fl32_Auth_Back_Util_WebAuthn.asn1toRaw</a></li>
</ul>
<h2 id="conclusion">Conclusion</h2>
<p>The primary objective of this post is to showcase functional code that enables the utilization of public key user authentication. Assembling the various fragments describing authentication posed some challenges, given the range of potential use cases. To gain a comprehensive understanding of authentication, it is recommended to deploy the demo application locally and step through all the stages using a debugger for both the frontend and backend components.</p>
<h2 id="links">Links</h2>
<ul>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/API/PublicKeyCredential">PublicKeyCredential</a></li>
<li><a href="https://www.w3.org/TR/2021/WD-webauthn-3-20210427/">Web Authentication: An API for accessing Public Key Credentials</a></li>
<li><a href="https://webauthn.guide/">WebAuthn Guide</a></li>
</ul>
<p>If you enjoyed this article, please give it a clap and follow me for more content!</p>
<p>Stay connected:</p>
<ul>
<li><a href="https://github.com/flancer64">GitHub</a></li>
<li><a href="https://www.linkedin.com/in/aleksandrs-gusevs-011ba928/">LinkedIn</a></li>
<li><a href="https://www.upwork.com/freelancers/~0181de0a64c6981497">Upwork</a></li>
</ul>
<p>Thank you for your support!</p>

    {% endraw %}
</div>
{% endblock %}
