{% extends "inc/layout.html" %}

{% block title %}Новая статья: Telegram-бот с аргументами команд и CRUD-L{% endblock %}

{% block content %}
<div class="card">
    <h1>Новая статья: Telegram-бот с аргументами команд и CRUD-L</h1>

    <span style="display: block; text-align: right;">
        <strong>Дата публикации:</strong> 2024-10-14
    </span>

    <zoom-img
            src="/img/blog/2024/10/14-01.png"
            alt="Telegram-бот с аргументами команд и CRUD-L"
            width="100px"
            style="float: left; margin: 15px 15px 0 0;"
    ></zoom-img>

    <p>Опубликовал новую статью на <a
            href="https://flancer32.com/telegram-bot-with-node-js-implementing-crud-l-operations-using-command-arguments-fcfb38991efa"
            target="_blank">Medium</a> и <a href="https://habr.com/ru/articles/850294/" target="_blank">Habr</a> — на
        этот раз о создании Telegram-бота, поддерживающего аргументы команд для операций <strong>CRUD-L</strong>
        (создание, чтение, обновление, удаление, список).</p>

    <p>В статье подробно разбирается, как реализовать обработку команд с аргументами на платформе Node.js с
        использованием <a href="https://grammy.dev/" target="_blank">grammY</a>. Пошаговое руководство подойдёт и
        начинающим, и тем, кто уже работает с ботами.</p>

    <p>Все примеры кода собраны в демонстрационном репозитории:
        <a href="https://github.com/flancer64/tg-demo-crudl" target="_blank">@flancer64/tg-demo-crudl</a>
    </p>
</div>
{% endblock %}

{% block blog_item %}
    <li class="blog-item">
        <a class="card-link" href="/ru/blog/2024/20241014-01-medium-telegram-crudl.html"></a>
        <img alt="Новая статья о CRUD-L для Telegram-бота" src="/img/blog/2024/10/14-01.png" />
        <div>
            <h4>Новая статья о CRUD-L для Telegram-бота</h4>
            <p>Рассказал, как реализовать аргументы команд и CRUD-L в Telegram-боте на Node.js с помощью
                grammY.</p>
            <time datetime="2024-10-14">14 октября 2024</time>
        </div>
    </li>
{% endblock %}

