@import "./css/vars.css";
@import "./css/colors.css";
@import "./css/layout.css";

BODY {
    background-attachment: fixed;
    /*background-image: url("./img/bg_teq.jpg");*/
    background-image: url("./img/bg_light.webp");
    /*background-image: url("./img/bg.webp");*/
    background-position: center;
    background-size: cover;
}

/* Quasar FW related styles */

.q-header {
    opacity: 1;
}

.q-drawer {
    opacity: 0.9;
}

.q-card {
    opacity: 0.8;
}

/* Application wide styles */


.app-pointer {
    cursor: pointer;
}


.app-cut {
    /* cut long text */
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.app-centered {
    display: grid;
    justify-items: center;
}

.app-content DIV {
    text-align: justify;
    padding-top: 10px;
}

/* Transitions styles */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* Styles for annotations (top parts on pages) */
.anno-wrap {
    overflow: hidden;
    position: relative;
}

.anno-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.anno-content {
    position: relative;
    font-size: larger;
}