:root {
    /*--color-bg: black;*/
    /*--color-text: white;*/
    --color-bg: white;
    --color-text: #343409;
}


BODY {
    background-attachment: fixed;
    /*background-image: url("./img/bg_teq.jpg");*/
    background-image: url("./img/bg_light.webp");
    /*background-image: url("./img/bg.webp");*/
    background-position: center;
    background-size: cover;
}

.q-header {
    opacity: 1;
}

.q-drawer {
    opacity: 0.9;
}

.q-card {
    opacity: 0.8;
}

.app-colors {
    background-color: var(--color-bg);
    color: var(--color-text);
}

.app-pointer {
    cursor: pointer;
}

.app-main {
    display: grid;
    justify-items: center;
}

.app-main > DIV {
    max-width: 800px;
}

.app-content DIV {
    text-align: justify;
    padding-top: 10px;
}

@media only screen and (min-width: 600px) {
    .app-main > DIV {
        min-width: 400px;
    }
}


.app-card-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}


.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.bg-mission {
    background-attachment: fixed;
    background-image: url("img/page/mission.png");
    background-position: center;
    background-size: cover;
}

/* Styles for annotations (top parts on pages) */
.anno-wrap {
    overflow: hidden;
    position: relative;
}

.anno-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.anno-content {
    position: relative;
    font-size: larger;
}